#source "drivers/sstar/isp/Kconfig"
#source "drivers/sstar/sound/Kconfig"
source "drivers/sstar/emmc/Kconfig"
source "drivers/sstar/sdmmc/Kconfig"
source "drivers/sstar/usb/Kconfig"
#source "drivers/sstar/fb/Kconfig"
#source "drivers/sstar/fb1/Kconfig"
#source "drivers/sstar/fb2/Kconfig"
#source "drivers/sstar/scl/Kconfig"
source "drivers/sstar/emac/Kconfig"
source "drivers/sstar/ircut/Kconfig"
#source "drivers/sstar/vhe/Kconfig"
#source "drivers/sstar/mfev5/Kconfig"
source "drivers/sstar/rtc/Kconfig"
#source "drivers/sstar/jpe/Kconfig"
source "drivers/sstar/xpm/Kconfig"
source "drivers/sstar/crypto/Kconfig"
source "drivers/sstar/cpufreq/Kconfig"
source "drivers/sstar/notify/Kconfig"

