config MS_RTC
    bool "MS_RTC"
    default n
    help

config RTC_INNER
    select RTC_CLASS
        tristate "Mstar RTC driver"
        depends on MS_RTC
        default n
        help

config RTCPWC_INNER
    select RTC_CLASS
        tristate "Mstar RTCWC driver"
        depends on MS_RTC
        default y
        help

config RTCPWC_INNER_EHHE
    select RTC_CLASS
        bool "Mstar RTCPWC driver Error Handle on Hw Exception"
        depends on MS_RTC && RTCPWC_INNER
        default n
        help

