config MS_FLASH_ISP

  select MTD
  #select MTD_CHAR
  #select MTD_BLKDEVS
  #select NFTL
  #select NFTL_RW
  #select MTD_OOPS

  #select MTD_COMPLEX_MAPPINGS
  #select MTD_BLOCK2MTD
  #select MTD_CMDLINE_PARTS
  #select SCSI_LOWLEVEL
  #select AUTOFS_FS

  #select FAT_FS
  #select MSDOS_FS
  #select VFAT_FS

  #select MTD_DEBUG
  #select MTD_DEBUG_VERBOSE
  #select MTD_CONCAT
  #select MTD_PARTITIONS
  #select MTD_NAND
  #select JFFS2_FS
  #select JFFS2_FS_DEBUG
  #select JFFS2_FS_WRITEBUFFER

bool "Serial Flash driver"
default n
---help---
    Enable compilation option for Serial Flash.
    FSP support Quadread/Daulread/write with BDMA.

if MS_FLASH_ISP
config MS_FLASH_ISP_MXP_PARTS
    bool
    default y

choice
    prompt "READ "
    default NOR_SINGLE_READ
    config NOR_SINGLE_READ
        bool "Use fast read"
    config NOR_QUAL_READ
        bool "Use quad read"
endchoice

choice
    prompt "WRITE"
    default NOR_SINGLE_WRITE
    config NOR_SINGLE_WRITE
        bool "Use fast write"
    config NOR_QUAL_WRITE
        bool "Use quad write"
endchoice

config SS_FLASH_ISP_WP
    bool "Serial Flash Write Protect Support"
    default n
    depends on MS_FLASH_ISP
    help
      Support serial flash write protect function.

endif


