/*
* infinity2m-ssc010a-s01a-display.dtsi- Sigmastar
*
* Copyright (c) [2019~2020] SigmaStar Technology.
*
*
* This software is licensed under the terms of the GNU General Public
* License version 2, as published by the Free Software Foundation, and
* may be copied, distributed, and modified under those terms.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License version 2 for more details.
*
*/

/ {
    soc {
/*
        cpufreq {
            vid-num = /bits/ 8 <2>;
            vid-gpios = /bits/ 8 <PAD_UART1_RX PAD_SAR_GPIO1>;
        };
*/
       i2c0@0{
            compatible = "sstar,i2c";
            reg = <0x1F223000 0x200>,<0x1F203c00 0x200>,<0x1F207000 0x200>;
                #address-cells = <1>;
                #size-cells = <0>;
            clocks = <&CLK_miic0>;
            i2c-group = <0>;
            /*
             * padmux: 1 -> PAD_HDMITX_SCL, PAD_HDMITX_SDA
             *         2 -> PAD_TTL1, PAD_TTL2
             *         3 -> PAD_TTL14, PAD_TTL15
            */
            i2c-padmux = <1>;
            /*
              *  speed: 0 -> HWI2C_HIGH(high speed: 400 KHz)
              *         1 -> HWI2C_NORMAL(normal speed: 300 KHz)
              *         2 -> HWI2C_SLOW(slow speed: 200 KHz)
              *         3 -> HWI2C_VSLOW(very slow: 100 KHz)
              *         4 -> HWI2C_USLOW(ultra slow: 50 KHz)
              *         5 -> HWI2C_UVSLOW(ultra-very slow: 25 KHz)
              */
            i2c-speed = <3>;
            i2c-en-dma = <0>;  // 0: disable; 1: enable;
            status = "ok";
        };

        i2c1@1{
            compatible = "sstar,i2c";
            reg = <0x1F223200 0x200>,<0x1F203c00 0x200>,<0x1F207000 0x200>;
                #address-cells = <1>;
                #size-cells = <0>;
            clocks = <&CLK_miic1>;
            i2c-group = <1>;
            /*
             * padmux: 2 -> PAD_HDMITX_SCL, PAD_HDMITX_SDA
             *         3 -> PAD_FUART_CTS, PAD_FUART_RTS
             *         4 -> PAD_TTL22, PAD_TTL23
             *         5 -> PAD_SD_CLK, PAD_SD_CMD
            */
            i2c-padmux = <5>;
             /*
              *  speed: 0 -> HWI2C_HIGH(high speed: 400 KHz)
              *         1 -> HWI2C_NORMAL(normal speed: 300 KHz)
              *         2 -> HWI2C_SLOW(slow speed: 200 KHz)
              *         3 -> HWI2C_VSLOW(very slow: 100 KHz)
              *         4 -> HWI2C_USLOW(ultra slow: 50 KHz)
              *         5 -> HWI2C_UVSLOW(ultra-very slow: 25 KHz)
              */
            i2c-speed = <1>;
            i2c-en-dma = <0>;  // 0: disable; 1: enable; for hdmi: cannot be enabled
            status = "ok";
            goodix_gt911@5D{
                compatible = "goodix,gt911";
                reg = <0x5D>;
                goodix_rst = <PAD_SD_D2>;
                goodix_int = <PAD_SD_D0>;
                interrupts-extended = <&ms_gpi_intc INT_GPI_FIQ_SD_D0>;
                interrupt-names = "goodix_int";
            };
        };

        gpioi2c {
            compatible = "sstar,infinity-gpioi2c";
            sda-gpio = <PAD_FUART_CTS>;
            scl-gpio = <PAD_FUART_RTS>;
            status = "ok";
        };

        Sstar-ehci-3 {
            compatible = "Sstar-ehci-3";
            clocks = <&CLK_utmi>;
            interrupts = <GIC_SPI INT_IRQ_UHC_P3 IRQ_TYPE_LEVEL_HIGH>;
            dpdm_swap=<0>;
            //power-enable-pad = <PAD_FUART_TX>;
            status = "ok";
        };

        disp: disp {
            compatible = "sstar,disp";
            status = "ok";
            interrupts = <GIC_SPI INT_IRQ_DISP0 IRQ_TYPE_LEVEL_HIGH>, <GIC_SPI INT_IRQ_DISP_1 IRQ_TYPE_LEVEL_HIGH>, <GIC_SPI INT_IRQ_DISP_3 IRQ_TYPE_LEVEL_HIGH>;
            clocks = <&CLK_mop>, <&CLK_hdmi>, <&CLK_dac>, <&CLK_disp_432>, <&CLK_disp_216>;
            clock-names = "CLK_mop", "CLK_hdmi", "CLK_dac", "CLK_disp_432", "CLK_disp_216";
            //Reg = <0x1F224000 0x200>;
        };

        sound {
            compatible = "sstar,audio";
//            reg = <0x1F000000 0x1000000>;
            interrupts=<GIC_SPI INT_IRQ_BACH IRQ_TYPE_LEVEL_HIGH>;
            playback-volume-level=<64>;    //0~94
            capture-volume-level=<64>;
           // micin-pregain-level=<1>;    //0~3
            micin-pregain-level=<0>;    //0~3
            micin-gain-level=<3>;    //0~7
            linein-gain-level=<2>;  //0~7
            amp-gpio = <PAD_UART0_TX 1>;
            clocks = <&CLK_upll_384m>;
           // playback-dma-buffer=<98304>; //512(ms)*48(kHz)*2(ch)*2(16bits)
           // capture-dma-buffer=<122880>; //640(ms)*48(kHz)*2(ch)*2(16bits)
            digmic-padmux = <1>;
            i2s-padmux = <3>;
            keep-i2s-clk = <0>;
            status = "ok";
        };

    };

};
