source "drivers/sstar/ive/Kconfig"
source "drivers/sstar/warp/Kconfig"
source "drivers/sstar/emac/Kconfig"
source "drivers/sstar/vcore_dvfs/Kconfig"
source "drivers/sstar/ceva_link/Kconfig"
source "drivers/sstar/gmac/Kconfig"
source "drivers/sstar/noe/Kconfig"
source "drivers/sstar/miu/Kconfig"
source "drivers/sstar/bdma/Kconfig"
source "drivers/sstar/movedma/Kconfig"
source "drivers/sstar/sata_host/Kconfig"