config MS_WATCHDOG
        tristate "watchdog driver"
        help
          Say Y here to enable the driver for the watchdog.

          If unsure, say Y.

          To compile this driver as a module, choose M here: the
          module will be called mdrv_wdt.
