config MS_SPINAND
  select MTD_NAND
  tristate "SPI NAND"
  default n

---help---
Enable compilation option for driver SPI NAND Flash.

if MS_SPINAND
choice
	prompt "READ"
	default AUTO_DETECT
config NAND_SINGLE_READ
 bool "nand-single-read"
config NAND_DUAL_READ
	bool "nand-dual-read"
config NAND_QUAL_READ
	bool "nand-qual-read"
config AUTO_DETECT
  bool "cis-table-determine"
endchoice


endif
if MS_SPINAND
choice
	prompt "WRITE"
	default AUTO_DETECT_WRITE
config NAND_QUAL_WRITE
	bool "nand-qual-write"
config AUTO_DETECT_WRITE
  bool "cis-table-determine"
endchoice
endif
